header.header {
  padding: 30px 20px;
}

.pink {
  background-color: var(--strong-pink);
}

header.header .nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
}

.nav .icon-button {
  justify-self: end;
}

.main-navigation-links {
  list-style: none;
  padding: 0;
  grid-row: 2;
  grid-column: 1 / -1;
  width: auto;
  margin: 10px -20px 0 -20px;
  position: absolute;
  width: 100%;
  /* TO DO: make sure the below value situates the element correctly across mobile devices */
  top: 15%;
  background-color: var(--strong-pink);
}

.main-navigation-links > li.dropdown:focus .sub-navigation-links,
ul.visible {
  display: block;
}

.main-navigation-links > li > a {
  font-family: 'Agrandir';
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.main-navigation-links > li:not(:first-child),
.main-navigation-links > li:not(:last-child) {
  border-top: 1px solid var(--dusty-rose);
}

.main-navigation-links > li {
  padding: 20px 0;
  text-align: center;
}

.main-navigation-links > li > a:focus,
.main-navigation-links > li > a:focus-within {
  outline: 1px dotted var(--dusty-rose);
}

.sub-navigation-links {
  list-style: none;
  padding: 0;
  display: none;
}

.sub-navigation-links > li:not(:first-child),
.sub-navigation-links > li:not(:last-child) {
  padding-top: 10px;
}

.sub-navigation-links > li:last-child > a {
  text-decoration: none;
  font-family: 'Paquito';
  text-transform: uppercase;
  color: var(--dusty-rose);
}

@media (min-width: 768px) {
  .nav .icon-button {
    display: none;
  }
  .main-navigation-links {
    grid-row: 1;
    grid-column: -1;
    display: flex;
    justify-content: stretch;
    margin: 0;
    position: static;
    background-color: transparent;
  }

  .main-navigation-links > li {
    position: relative;
    padding: 0;
    flex-grow: 1;
  }
  .main-navigation-links > li:not(:first-child),
  .main-navigation-links > li:not(:last-child) {
    border-top: none;
  }

  .main-navigation-links > li a:hover {
    color: var(--dusty-rose);
  }
  .sub-navigation-links {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background-color: var(--strong-pink);
  }

  .sub-navigation-links > li,
  .sub-navigation-links > li {
    padding: 10px;
  }

  .sub-navigation-links > li:not(:first-child) {
    border-top: 1px solid var(--dusty-rose);
  }

  .main-navigation-links > li.dropdown:hover .sub-navigation-links ul.visible {
    display: block;
  }
}
