header.header {
  padding: 30px 20px;
  isolation: isolate;
  z-index: 2;
  height: 130px;
}

.pink {
  background-color: var(--strong-pink, #ffdcd0);
}

header.header .header-navigation {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
}

.header-navigation .icon-button {
  justify-self: end;
}

.main-navigation-links {
  list-style: none;
  padding: 0;
  grid-row: 2;
  grid-column: 1 / -1;
  width: auto;
  margin: 5px -20px 0 -20px;
  position: absolute;
  width: 100%;
  top: 120px;
  background-color: var(--strong-pink, #ffdcd0);
  display: none;
}

.main-navigation-links.visible , .sub-navigation-links.visible {
  display: block;
}


.main-navigation-links > li > a {
  font-family: 'Agrandir';
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
 outline: none;

}

.main-navigation-links > li:not(:first-child),
.main-navigation-links > li:not(:last-child) {
  border-top: 1px solid var(--dusty-rose, #b79289);
}

.main-navigation-links > li {
  padding: 20px 0;
  text-align: center;
}

.main-navigation-links > li:focus-within {
    background-color: var(--weak-pink, #fff0ea);
}

  .main-navigation-links > li > button:focus {
   outline: none;

}

.sub-navigation-links {
  list-style: none;
  padding: 0;
  display: none;
}

.sub-navigation-links > li:not(:first-child),
.sub-navigation-links > li:not(:last-child) {
  padding-top: 10px;
}

.sub-navigation-links > li:last-child > a {
  text-decoration: none;
  font-family: 'Paquito';
  text-transform: uppercase;
  color: var(--dusty-rose, #b79289);
}

  .sub-navigation-links > li > a:focus-visible {
    border-style: dotted;
  border-color: var(--dusty-rose, #b79289);
  border-width: 3px;
  border-image-source: url('https://cl.ly/3c2J3c0l3r0P/dots.svg')
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  outline: none;
    background-color: transparent;
}

@media (min-width: 768px) {
  header.header {
    background-color: transparent;
  }
  
  .header-navigation .icon-button {
    display: none;
  }
  .main-navigation-links, .main-navigation-links.visible {
    grid-row: 1;
    grid-column: -1;
    display: flex;
    justify-content: stretch;
    margin: 0;
    position: static;
    background-color: transparent;
  }

  .main-navigation-links > li {
    position: relative;
    padding: 0;
    flex-grow: 1;
  }

  .main-navigation-links > li:focus-within {
    background-color: transparent;
}

  .main-navigation-links > li:not(:first-child),
.main-navigation-links > li:not(:last-child) {
    border-top: none;
}

  ul.main-navigation-links > li > a {
    border: 3px solid transparent;
}

  .main-navigation-links > li > a:focus-visible, .main-navigation-links > li.dropdown > button:focus-visible, .sub-navigation-links > li > a:focus-visible {
    border-style: dotted;
  border-color: var(--dusty-rose, #b79289);
  border-width: 3px;
  border-image-source: url('https://cl.ly/3c2J3c0l3r0P/dots.svg')
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  outline: none;
    background-color: transparent;
}



  .main-navigation-links li .link-active {
    color: var(--dusty-rose, #b79289);
    text-decoration: underline;
    border: 3px solid transparent;
  }

  .main-navigation-links > li a:hover {
    color: var(--dusty-rose, #b79289);
    transition: 0.4s;
  }
  .sub-navigation-links {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: var(--strong-pink, #ffdcd0);
  }

  .sub-navigation-links > li {
    padding: 10px;
  }

  .sub-navigation-links > li:not(:first-child) {
    border-top: 1px solid var(--dusty-rose, #b79289);
  }

  .main-navigation-links > li.dropdown:hover .sub-navigation-links {
    display: block;
  }
}
