article.post-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  align-items: center;
}

article.post-item .content-wrapper {
  margin-top: 35px;
}

article.post-item h3 {
  font-family: 'Paquito';
  font-weight: 400;
  font-style: normal;
}

article.post-item .excerpt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

article.post-item img {
  border-radius: 5px;
  grid-column: 1 / 2;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

/* Component-specific media breakpoint */

@media (min-width: 800px) {
  article.featured {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 0.5em 2em;
    max-width: 100%;
  }

  article.post-item .content-wrapper {
    margin-top: 20px;
  }

  article.featured .content-wrapper {
    margin: auto 0;
  }

  article.post-item:not(.featured) h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  article.featured img {
    height: 100%;
  }
}
