article.blog-post-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  align-items: center;
  position: relative;
}

article.blog-post-item .content-wrapper {
  margin-top: 35px;
}

article.blog-post-item .content-link {
  text-decoration: none;
  color: #000;
  border: 3px solid transparent;
  display: block;
}

article.blog-post-item .content-link:focus-visible { 
  border-style: dotted;
  border-color: var(--dusty-rose, #b79289);
  border-width: 3px;
  border-image-source: url('https://cl.ly/3c2J3c0l3r0P/dots.svg')
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  outline: none;
    background-color: transparent;
}

article.blog-post-item .content-link:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

article.blog-post-item h3 {
  font-family: 'Paquito';
  font-weight: 400;
  font-style: normal;
}

article.blog-post-item .content-excerpt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

article.blog-post-item.featured .featured-button-wrapper {
  display: flex;
  align-items: center;
}

article.blog-post-item.featured .featured-button-wrapper svg {
  margin-top: 25px;
  max-width: 60%;
  margin-inline-start: 10px;
  fill: #000;
}


@media (min-width: 800px) {
  article.blog-post-item.featured {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 0.5em 2em;
    max-width: 100%;
  }

  article.blog-post-item .content-wrapper {
    margin-top: 20px;
  }

  article.blog-post-item.featured .content-wrapper {
    margin: auto 0;
  }

  article.blog-post-item:not(.featured) h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }


  .posts-section > ul > li {
    margin-top: 20px;
  }

  .posts-section > ul li:first-of-type {
    grid-column: 1 / -1;
    margin-bottom: 20px;
  }
}



.posts-section .blog-grid > li {
  margin: 30px auto;
}

.posts-section .blog-grid > li:first-of-type {
  margin-top: 20px;
}
