main .contact-container {
    border-style: dotted;
  border-color: var(--dusty-rose, #b79289);
  border-width: 3px;
  border-image-source: url('https://cl.ly/3c2J3c0l3r0P/dots.svg')
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  outline: none;
  width: 90%;
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

main .contact-container p {
  font-family: 'PP Woodland';
  text-align: center;
  margin-bottom: 20px;
}

main .contact-container a {
  color: var(--dusty-rose, #b79289);
}

main .contact-container p:last-of-type {
  font-family: 'Agrandir';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}

@media (min-width: 900px) {
  main .contact-container {
    max-width: 600px;
  }
}
