.newsletter-form-section {
  text-align: center;
  width: 90%;
  margin: 40px auto;
  max-width: 1000px;
}

.newsletter-form-section form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.newsletter-form-section h2 {
  font-family: 'PP Woodland';
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.newsletter-form-section h2 span:before,
.newsletter-form-section h2 span:after {
  content: '◦';
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.newsletter-form-section h2:before,
.newsletter-form-section h2:after {
  content: '';
  background-image: url('/images/subscribe_line_for_mob.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 45px;
  width: 45px;
  height: 15px;
}

.newsletter-form-section p {
  font-family: 'Agrandir';
}

.newsletter-form-section button {
  flex-grow: 1;
  flex-basis: 25%;
}

@media (min-width: 750px) {
  .newsletter-form-section form {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }

  .newsletter-form-section h2:before,
  .newsletter-form-section h2:after {
    background-image: url('/images/subscribe_line.png');
    background-size: 100px;
    width: 100px;
    height: 15px;
  }
}
