.newsletter-form_section {
  text-align: center;
  width: 90%;
  margin: 40px auto;
  max-width: 1000px;
}

.newsletter-form_section form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.newsletter-form_section h2 {
  font-family: 'PP Woodland';
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.newsletter-form_section h2 span:before,
.newsletter-form_section h2 span:after {
  content: '◦';
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.newsletter-form_section h2:before,
.newsletter-form_section h2:after {
  content: '';
  background-image: url('/images/subscribe_line_for_mob.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 45px;
  width: 45px;
  height: 15px;
}

.newsletter-form_section p {
  font-family: 'Agrandir';
}

.newsletter-form_section label {
  font-family: 'Agrandir';
  font-style: italic;
  text-transform: uppercase;
  margin-right: auto;
}

.newsletter-form_section input {
  background-color: var(--eggshell);
  border: 1px solid #000;
  height: 44px;
  width: 100%;
  padding: 6px 18px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
}

.newsletter-form_section .input-field {
  text-align: start;
  margin-top: 15px;
  margin-inline-end: 10px;
}

.newsletter-form_section .input-field:first-child,
.newsletter-form_section button {
  flex-grow: 1;
  flex-basis: 25%;
}

.newsletter-form_section .input-field:last-of-type {
  text-align: start;
  flex-grow: 2;
  flex-basis: 40%;
}

@media (min-width: 750px) {
  .newsletter-form_section form {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }

  .newsletter-form_section h2:before,
  .newsletter-form_section h2:after {
    background-image: url('/images/subscribe_line.png');
    background-size: 100px;
    width: 100px;
    height: 15px;
  }
}
