footer.footer {
  border-top: 1px solid #000;
  background-color: var(--strong-pink, #ffdcd0);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: stretch;
  padding: 10px 20px;
}

footer.footer nav {
  flex-grow: 1;
}

footer.footer .footer-navigation-links {
  display: flex;
  justify-content: stretch;
  margin: auto;
  position: static;
  list-style: none;
  padding: 0;
  width: 100%;
}

footer.footer .footer-navigation-links > li {
  position: relative;
  padding: 0;
  flex-grow: 1;
}

footer.footer .footer-navigation-links > li > a {
  font-family: 'Agrandir';
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border: 3px solid transparent;
}

footer.footer .footer-navigation-links > li > a:focus-visible {
    border-style: dotted;
  border-color: var(--dusty-rose, #b79289);
  border-width: 3px;
  border-image-source: url('https://cl.ly/3c2J3c0l3r0P/dots.svg')
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  outline: none;
    background-color: transparent;
}

footer.footer button.icon-button {
  background-color: var(--weak-pink, #fff0ea);
  margin: auto;
}

footer.footer button.icon-button .icon {
  width: auto;
  height: auto;
  color: var(--dusty-rose, #b79289);
}

@media (min-width: 700px) {
  footer.footer {
    justify-content: space-between;
  }

  footer.footer nav {
    flex-grow: 0;
    width: 40%;
  }

  footer.footer button.icon-button {
    margin: 0;
  }
}
