.post-meta {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
}

.post-meta .date {
  font-family: 'Agrandir';
  color: var(--dusty-rose);
  margin-inline-start: -15px;
}

.post-meta .date:before {
  content: '•';
  margin-inline-end: 5px;
}
