.blog-grid {
  list-style: none;
  padding: 0;
}

.blog-grid.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: masonry;
  gap: 2em;
}

.blog-grid.masonry > * {
  align-self: start;
}

.blog-container .blog-post-item {
  margin-inline-end: 10px;
}

@media (min-width: 800px) {
  .posts-section .blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
  }
}
