.main-navigation-links > li > button.button[aria-expanded='false'] span:after {
  content: '';
  display: inline-block;
  background-size: 15px;
  width: 15px;
  height: 15px;
  background-image: url('/images/caret_down.svg');
  margin-inline-start: 5px;
}

.main-navigation-links > li > button.button[aria-expanded='true'] span:after {
  content: '';
  display: inline-block;
  background-size: 15px;
  width: 15px;
  height: 15px;
  background-image: url('/images/caret_up.svg');
  margin-inline-start: 5px;
}

.main-navigation-links > li > button.button span:before {
  content: '';
  width: 15px;
  height: 15px;
  margin-inline-start: 5px;
}

.main-navigation-links > li > button.button {
  font-family: 'Agrandir';
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  transition: 0.4s;
}

.main-navigation-links > li > button.button:hover {
  color: var(--dusty-rose, #b79289);
  transition: 0.4s;
}
