.social-media {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px 0;
}

.social-media > * {
  margin-inline-end: 20px;
}

.social-media p {
  font-family: 'Agrandir';
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}

.social-media-icon {
  fill: var(--dusty-rose);
}
