.book-club_section {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.book-club_section h2 {
  font-family: 'Paquito';
  text-transform: uppercase;
}

.book-club_section h3 {
  font-family: 'Agrandir';
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  color: var(--dusty-rose);
}

.book-club_section ul.books {
  list-style: none;
  padding: 0;
  width: 90%;
  margin: auto;
}

.book-club_section ul.books li {
  margin: 30px 0;
}

@media (min-width: 700px) {
  .book-club_section ul.books {
    display: flex;
    justify-content: space-evenly;
  }

  .book-club_section ul.books li {
    margin: 30px;
  }
}
