.book-club-section {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.book-club-section h2 {
  font-family: 'Paquito';
  text-transform: uppercase;
}

.book-club-section h3 {
  font-family: 'Agrandir';
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  color: var(--dusty-rose);
}

.book-club-section .book-club-list li {
  margin: 30px 0;
}

.book-club-section .book-club-list {
  width: 90%;
  margin: auto;
}

@media (min-width: 700px) {
  .book-club-section .book-club-list li {
    margin: 30px;
  }
}
